<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataReprocess_LogFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataReprocess_LogFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <DataReprocess_LogFile.Properties.Settings>
            <setting name="EventName" serializeAs="String">
                <value>GenericData_Create2</value>
            </setting>
            <setting name="Installation" serializeAs="String">
                <value>SEL010020D</value>
            </setting>
            <setting name="Execution" serializeAs="String">
                <value>RX</value>
            </setting>
            <setting name="QueueNumber" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RotateQueues" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecificQueues" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendData" serializeAs="String">
                <value>False</value>
            </setting>
        </DataReprocess_LogFile.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DataReprocess_LogFile.Properties.Settings>
            <setting name="QueueType" serializeAs="String">
                <value>PVQ</value>
            </setting>
        </DataReprocess_LogFile.Properties.Settings>
    </applicationSettings>
</configuration>